.titleText {
    font-size: var(--font-size-xxlarge);
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: var(--secondary);
}

.smallerText {
    font-size: var(--font-size-xlarge);
}

.titleText b {
    color: var(--company-bold-color);
}


.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}