.sparkButton {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center; 
    /* Box model */
    min-width: 2.8rem;
    max-width: 3.5rem;
    aspect-ratio: 1 / 1;
    /* Visual */
    background-color: var(--primary);
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
}

.sparkButton:hover .sparkImage{
    transform: translateY(3%) scale(1.15);
}

.sparkImage {
    width: 100%;
    object-fit: contain;
    transform: translateY(5%) scale(1.1);
    transition: transform 0.3s ease;
}

.sparkMonolog {
    font-family: 'Poppins', sans-serif;
}