.iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: var(--spacing-sm);
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing-md);
    
}

.buttonContainer .button {
    flex-grow: 1;
}

.iconLink {
    min-width: 3rem;
    font-size: var(--font-size-xxlarge);
    color: var(--primary);
    text-align: center;

    transition: 0.3s ease;
}

.iconLink:hover {
    transform: scale(1.03);
    color: var(--hover-primary);
    cursor: pointer;
}