.skillsPage {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContent {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
}

.topContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--spacing-xxs);
}

.topLeftContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.topLeftContainer > button {
    margin: 0 var(--spacing-sm);
}

.skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xxs);
}

.leftSkills {
    flex: 1;
}

.rightSkills {
    flex: 1;
}

@media (max-width: 700px) {
    .topContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .skills {
        display: flex;
        flex-direction: column;
    }
}