.textPrompt {
    text-align: left;
}

.codeField {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: var(--spacing-md);
    width: 100%;
}

.codeLetter {
    display: flex;
    width: 100%;
    aspect-ratio: 1 / 1.55;
    padding: var(--spacing-sm);
    margin: var(--spacing-xs);
    border: 1px solid var(--border);
    border-radius: var(--border-radius-md);
    
    align-items: center;
    justify-content: center;
    
    font-size: 3rem;
    color: var(--primary);
    text-transform: uppercase;

    transition: 0.3s ease;
}

.fill {
    box-shadow: 0px 0px 10px -3px var(--primary);
}

@media (max-width: 1080px) {
    .codeLetter {
        font-size: 4.5vw;
    }
}

@media (max-width: 700px) {
    .codeLetter {
        font-size: 7vw;
    }
}

@media (max-width: 370px) {
    .codeLetter {
        font-size: 3.5vw;
    }
}