.textDescription {
    font-size: var(--font-size-base);
    font-family: 'Lato', sans-serif;
    text-align: justify;
    color: var(--text);
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md);
}