.popUpMenu {
    position: fixed;
    top: -2%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: auto;
    z-index: 10;
    max-width: 525px;
}

.controlCenterBlockTitle {
    width: 100%;
    text-align: center;
    font: 'Lato', sans-serif;
    font-size: var(--font-size-large);
    text-transform: uppercase;
    font-weight: 500;
    padding: var(--spacing-xs) 0;
    margin-top: var(--spacing-sm);
}

.mainColor {
    color: var(--primary);
}

.secondaryColor {
    color: var(--secondary);
}

.controlCenterTitle {
    font-size: var(--font-size-xlarge);
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 400;
}


@media (min-width: 975px) {
    .popUpMenu {
        max-width: 1080px;
    }

    .menu {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-md); 
    }

    .controlCenterBlock {
        margin: 0 var(--spacing-md);
    }
}