.booksContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-lg);
    text-align: center;
    justify-content: center;
}

.booksMainTitle {
    font-size: var(--font-size-xlarge);
    text-transform: uppercase;
    color: var(--text);
    font-weight: 400;
    text-align: center;
    margin-bottom: var(--spacing-md);
}