.button {
    /* Layout */
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */

    /* Box model */
    max-width: 100%;
    height: auto;
    padding: var(--spacing-lg) var(--spacing-xl);

    /* Typography */
    font-size: var(--font-size-md);
    color: var(--button-text);
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;

    /* Visual */
    background-color: var(--primary);
    border-radius: var(--border-radius-md);
    border: none;

    transition: 0.3s ease;
}

.button:hover {
    transform: scale(1.03);
    background-color: var(--hover-primary);
    cursor: pointer;
}

.primary {
    background-color: var(--primary);
}

.secondary {
    background-color: var(--secondary);
}