/* Separate CSS variables into categories for better organization */
  /* Layout */
  /* Box model */
  /* Typography */
  /* Visual */

:root {
  /* Colors */
  --primary-saturation: 49%;
  --primary-lightness: 33%;
  --background-dark: hsl(220 59% 91%);
  --background: hsl(220 100% 97%);
  --background-light: hsl(220 100% 100%);
  --text: hsl(226 85% 7%);
  --button-text: #F0F4FF;
  --text-muted: hsl(220 26% 31%);
  --highlight: hsl(220 100% 100%);
  --border: hsl(220 19% 53%);
  --border-muted: hsl(220 27% 65%);
  --primary: hsl(221 49% 33%);
  --hover-primary: hsl(221 49% 43%);
  --secondary: hsl(44 100% 14%);
  --hover-secondary: hsl(44 100% 24%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);
  --company-bold-color: var(--primary);
  --company-color-hover: var(--hover-primary);

  /* Font sizes */
  --font-size-small: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-large: 1.25rem; /* 20px */
  --font-size-xlarge: 1.5rem; /* 24px */
  --font-size-xxlarge: 2rem; /* 32px */

  /* Spacing */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-xxl: 3rem; /* 48px */

  /* Border radius */
  --border-radius-sm: 0.25rem; /* 4px */
  --border-radius-md: 0.5rem; /* 8px */
  --border-radius-lg: 0.75rem; /* 12px */
  --border-radius-xl: 1rem; /* 16px */
  --border-radius-full: 50%; /* Circle */

  /* Shadows */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 4px 8px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 8px 16px rgba(0, 0, 0, 0.1);
  --shadow-2xl: 0 16px 32px rgba(0, 0, 0, 0.1);


}

[data-theme='dark'] {
  --primary-saturation: 78%;
  --primary-lightness: 76%;
  --background-dark: hsl(228 79% 2%);
  --background: hsl(222 55% 5%);
  --background-light: hsl(220 35% 10%);
  --text: hsl(220 100% 98%);
  --button-text: #070A12;
  --text-muted: hsl(220 35% 73%);
  --highlight: hsl(220 20% 42%);
  --border: hsl(220 26% 31%);
  --border-muted: hsl(220 37% 20%);
  --primary: hsl(220 78% 76%);
  --hover-primary: hsl(220 78% 66%);
  --secondary: hsl(40 53% 60%);
  --hover-secondary: hsl(40 53% 50%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
  --company-bold-color: var(--primary);
  --company-color-hover: var(--hover-primary);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', 'Segoe UI', Roboto, Oxygen,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: var(--text);
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
