.contactIdentification {
    font-size: var(--font-size-xlarge);
    font-weight: 400;
    color: var(--text);
}

@media (max-width: 430px) {
    .contactIdentification {
        font-size: var(--font-size-base);
    }
}