.characterImage {
    width: 100%;
    border: 2px solid var(--highlight);
    border-radius: var(--border-radius-full);

    transition: transform 0.3s ease;
}

.characterImage:hover  {
    transform: scale(1.01);
}

.characterName {
    font-size: var(--font-size-xxlarge);
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: var(--secondary);

    transition: transform 1s ease;
}

@media only screen and (max-width: 800px) {
    .characterName {
        font-size: var(--font-size-xlarge)
    }
}

@media only screen and (max-width: 600px) {
    .characterField {
        box-sizing: border-box;
        width: calc(100% - var(--spacing-sm) * 2);
    }

    .characterName {
        font-size: var(--font-size-xxlarge)
    }
}

